table {
    width: 100%;
  }
  
  th.mat-header-cell, td.mat-cell {
      text-align: center;
      border: 1px solid #CCC;
      padding: 0 !important;
  }
  td,th {
    text-align: center;
    vertical-align: middle;
  }
  tr{
    line-height:12px;
   min-height: 12px;
   height: 12px;
  }