<p>employee works!</p>
<mat-tab-group animationDuration="800ms">

  <mat-tab label="Basic Data1">
    <label for="empnam">Employee Name</label>
    <input id="empnam" name="empnam" type="text" />
    <label for="dob">DOB</label>
    <input id="dob" name="dob" type="date" />
  </mat-tab>
  <mat-tab label="Basic Data2" >
    <label for="str1">Street 1</label>
    <input type="text" id="str1" name="str1" />
  </mat-tab>
  <mat-tab label="Salary Detail">
    <label for="bsal">Base Salary</label>
    <input type="text" id="bsal" name="bsal" />
  </mat-tab>
  <mat-tab label="Organization Detail">
    <label for="rol">Role</label>
    <input type="text" id="rol" name="rol" />
  </mat-tab>
  <mat-tab label="Experience">
    <label for="exsap">Experience in SAP</label>
    <input type="text" id="exsap" name="exsap" />
  </mat-tab>

</mat-tab-group>
