<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<br>

<p class="md ">Timesheet</p>

<div class="container" style="width: 40%; float: left">

    <div class="border border-1 rounded shadow-sm" style="padding: 10px;">
        <span>
            <label style="font-size: small; margin-right: 1px;">User :  </label>{{login.username}}
            <input style="margin-left: 10px; width: 45px; height: 18px;" [(ngModel)]="timesheet.loginid" disabled=""></span><br>
        <span style="margin-left: 100px;">
            <mat-form-field style="padding-left:20px;width: 170px;">
                <mat-label>Classification</mat-label>
                <mat-select [(ngModel)]="timesheet.daytype"(selectionChange)="checktimechange()" >
                    <mat-option *ngFor="let classif of classifs" [value]="classif.name">{{classif.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <label style="font-size: small; margin-left: 10px;">Date </label>
            <input style="margin-left: 10px; width: 90px;height: 18px;" [(ngModel)]="timesheet.tsdate " disabled> -->
        </span>

        <br>


        <span><label style="font-size: medium;">CheckIn Time </label>
            <input type="time" [(ngModel)]="timesheet.checkin" placeholder="CheckIn Time"
                style="margin-left: 22px; width: 150px;" (change)="chtime()"></span>
        <br><br>
        <span>
            <label style="font-size: medium">CheckOut Time </label>
            <input type="time" [(ngModel)]="timesheet.checkout" placeholder="CheckOut Time"
                style="margin-left: 10px; width: 150px;" (change)="chtime()"></span>

        <br>
        <div>
            <span *ngIf="ctShow" style="color: Red;"> 
                Range must be betwwen {{d10.getHours()}}:{{d10.getMinutes()}} and {{d1830.getHours()}}:{{d1830.getMinutes()}}</span>
            <span *ngIf="!ctShowb()" style="color: Red;"> checkin must be after checkout
            </span>
        </div>


        <mat-checkbox style="padding-left: 30%;" [checked]="btShow" (change)="breakbox($event.checked)">Skipped Breaktime</mat-checkbox><br>

        <button mat-stroked-button (click)="saveTimesheet()"> Save / Update</button>

    </div>
    <div style="padding-top: 10px;">
        <div class="border border-1 rounded shadow-sm" style="padding: 10px;">

            <label style="padding-right:10px;">Other Time Adjustments</label>
            <mat-form-field>
                <mat-select [(value)]="selectbt">
                    <mat-option >None</mat-option>
                    <mat-option value="1">Overtime</mat-option>
                    <mat-option value="2 " [disabled]="otbkdischk">Overtime's breaktime</mat-option>
                    <mat-option value="3">Change usual Breaktime</mat-option>
                </mat-select>
            </mat-form-field>

            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Ex. I had a great day " [(ngModel)]="timesheet.comment"
                        [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
            </form>

            <button mat-stroked-button (click)="check()"> check</button>
        </div>
    </div>

    <div>

        <div style="padding-top: 10px;" [ngSwitch]="selectbt">
            <div class="border border-1 rounded shadow-sm" style="padding: 10px;" *ngSwitchCase="3">
                <span>
                    <label style="font-size: medium;">BreakTime Start </label>
                    <input type="time" [(ngModel)]="timesheet.btstart" (change)="cusbtcheck()" placeholder="HH:MM"
                        style="margin-left: 10px; width: 150px;"></span>
                <br><br>
                <span>
                    <label style="font-size: medium">BreakTime End</label>
                    <input type="time" [(ngModel)]="timesheet.btend" (change)="cusbtcheck()" placeholder="HH:MM"
                        style="margin-left: 18px; width: 150px;"></span><br>
                <span *ngIf="cusbtcheck()" style="color: red;">Invalid Breaktime </span>
            </div>

            <div class="border border-1 rounded shadow-sm" style="padding: 10px;" *ngSwitchCase="2">
                <span>
                    <label style="font-size: medium;">OT BreakTime Start </label>
                    <input type="time" [(ngModel)]="timesheet.otbtstart" (change)="cusotbtcheck()" placeholder="HH:MM"
                        style="margin-left: 10px; width: 150px;"></span>
                <br><br>
                <span>
                    <label style="font-size: medium">OT BreakTime End</label>
                    <input type="time" [(ngModel)]="timesheet.otbtend" (change)="cusotbtcheck()" placeholder="HH:MM"
                        style="margin-left: 18px; width: 150px;"></span><br>
                <span *ngIf="cusotbtcheck()" style="color: red;">invalid overtime's breaktime </span>
            </div>


            <div class="border border-1 rounded shadow-sm" style="padding: 10px;" *ngSwitchCase="1">
                <span>
                    <label style="font-size: medium;">OverTime Start </label>
                    <input type="time" [(ngModel)]="timesheet.otstart" (change)="cusotcheck()" placeholder="HH:MM"
                        style="margin-left: 10px; width: 150px;"></span>
                <br><br>
                <span>
                    <label style="font-size: medium">OverTime End</label>
                    <input type="time" [(ngModel)]="timesheet.otend" (change)="cusotcheck()" placeholder="HH:MM"
                        style="margin-left: 18px; width: 150px;"></span><br>
                <span *ngIf="cusotcheck()" style="color: red;">Invalid overtime </span>
            </div>



        </div>
    </div>

</div>

<div style="margin-left: 40%;">
    <mat-card class="inline-calendar-card">
        <mat-calendar (selectedChange)="calCheckUpdated($event)" [(selected)]="selected"></mat-calendar>
    </mat-card>

    <br>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>L0gin ID</th>
            <th>Date</th>
            <th>CheckIn</th>
            <th>CheckOut</th>
            <th>hoursworked</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let timesheet of timesheets">
            <td>{{timesheet.loginid}}</td>
            <td>{{timesheet.tsdate}}</td>
            <td>{{timesheet.checkin}}</td>
            <td>{{timesheet.checkout}}</td>
            <td>{{timesheet.totalhours}}</td>
            <td>
            </td>
        </tr>
    </tbody>
</table>