header{
  width:100%;
  margin: 0;
  padding:0;
  background: rgba(42,55,123,0.9);
  position: fixed top;
  height: 90px;
  overflow: hidden;
  z-index: 50
}

 header::after{
  content: "";
  display: table;
  clear: both;
  bottom: 0px;
}

.header-inner{
    float: left;
    width: 30px;
    margin: auto;
    position: relative;
}

.header-inner1{
    float: right;
    width: 120px;
    /* height: 10px; */
    margin-top: 10px;
    margin-right: 40px;
   /* position : relative; */
}

.aligned-with-icon{
  position: absolute;
  margin-top: 3px;
  margin-left: 5px; /* optional */
}
