
<div class="tildiv">
    <div (click)="timesheetnav()" id="em1" class="tile" title="Employee Master">
        <div class="mstic" style="margin-left:8px">
            <label style="font-size:15px;color:black ;padding-left: 25%;">Timesheet</label>
            <i id="em1" class='fas fa-id-card' style='font-size:93px;margin: 15px'></i></div>
              <div id="em1" class="content">
                <ul>
                <li><button formaction="empcre" title="Create Employee" class="opt" >
                        <i class='fas fa-file' style='font-size:25px;'></i></button></li>
                <li><button formaction="empcha" title="Change Employee" class="opt">
                        <i class='fas fa-edit' style='font-size:25px;'></i></button></li>
                </ul>
                <ul>
                <li><button formaction="empdis" title="Display Employee" class="opt">
                        <i class='fas fa-glasses' style='font-size:25px;'></i></button></li>
                <li><button formaction="empdel" title="Delete Employee" class="opt">
                        <i class='fas fa-trash' style='font-size:25px;'></i></button></li>
                </ul>
  <!--                        <ul>
                    <button type="button" id="em1" onclick="retn(this.id);" class="ret" >cre</button>
                </ul>-->
              </div>
        </div>
                <button type="button" id="em1" onclick="retn(this.id);" class="ret" ><i class="fa fa-undo"></i></button>
        </div>