<!-- <li>
        <ul style="height: 150px;"> -->
<div class="tildiv"   >
  <div   id="em1" class="tile" title="Employee Master" *ngIf="tileoff" (mouseenter)="emptile()">
      <div class="mstic" style="margin-left:8px" >
          <label style="font-size:15px;color:black">Employee Master</label>
          <i id="em1" class='fas fa-id-card' style='font-size:93px;margin: 15px'></i></div>

      </div>
      <div id="em1" class="content" *ngIf="chldtiloff" (mouseleave)="retn();">
        <ul>
        <li><button title="Create Employee Master" (click)="empcre()" class="opt" >
                <i class='fas fa-file' style='font-size:25px;'></i></button></li>
<li><button title="Change Employee Master" class="opt">
                <i class='fas fa-edit' style='font-size:25px;'></i></button></li>
        </ul>
        <ul>
<li><button title="Display Employee Master" class="opt">
                <i class='fas fa-glasses' style='font-size:25px;'></i></button></li>
        <li><button title="Delete Employee Master" class="opt">
                <i class='fas fa-trash' style='font-size:25px;'></i></button></li>
        </ul>
      </div>
              <!-- <button type="button" id="em1" (click)="retn();" class="ret" *ngIf="rtnbutoff" ><i class="fa fa-undo"></i></button> -->
      </div>
      <div class="tildiv"   >
        <div   id="ts1" class="tile" title="Timesheet"  (click)="timesheetnav()">
            <div  style="margin-left:8px" >
                <label style="font-size:15px;color:black">Timesheet</label>
                <i  class='fas fa-calendar' style='font-size:93px;margin: 15px'></i></div>
      
        </div>
        </div>
                <!-- </ul>
        </li> -->

      
